@inject IConfiguration configuration

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/index-div.css" />


<div class="flexbox-container darken-image">
    <div class="flexbox-contents">
        <div class="flexbox-contents-item">
            <p class="primary-text">Configurator shows how to access configuration in files and DB from ASP.NET Core 2 MVC</p>
            <p class="secondary-text">Technologies used:</p>
            <ul>
                <li class="secondary-text">Front-End: ASP.NET MVC Core 2.1, HTML, CSS, Flexbox, Bootstrap, Javascript</li>
                <li class="secondary-text">Back-End: Framework .Net Core 2.1, C#, EF Core 2.1</li>
            </ul>
        </div>
    </div>
</div>





